<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <div class="content">
            {{>header}}

            <form action="" method="GET" class="form">
                <div class="form-search">
                    <button type="submit" id="search" class="search-button">
                    <img id="binoculars" src="../img/search.png">
                    </button>   
                    <input type="search" id="search-content" placeholder="Search Anything!" class="search-field" />
                    
                </div>
                <br><br>
                <div class="method-box">
                        <input type="radio" id="m1" name="method" value="BM25">
                        <label for="m1">BM25</label><br>
                        <input type="radio" id="m2" name="method" value="tf-idf">
                        <label for="m2">tf-idf</label><br>  
                        <input type="radio" id="m3" name="method" value="BM25VA">
                        <label for="m3">BM25VA</label>
                        <input type="radio" id="m3" name="method" value="BM25L">
                        <label for="m3">BM25L</label>
                        <input type="radio" id="m3" name="method" value="BM25_plus">
                        <label for="m3">BM25 plus</label>
                </div>
                
            </form>
          
          <div id="results"></div>


            {{>footer}}
        </div>
        <script src="/js/events.js"></script>
    </body>
</html>

