* {
    /* Reset browser's padding and margin */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body {
    background: #4a69bd;
  }
  
  .container {
    margin: 200px auto;
    width: 500px;
    height: 60px
  }
  
  /* The point of this tutorial is here */
  .form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .search-button:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
  }

  .container div {
    align-items: center;
    margin-bottom: 15px;;
  }
  div h1{
    text-align:center;
    color: aliceblue;
    font-style: italic;
    
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    height: 100%;
  }
  .content p{
    color: aliceblue;
  }

  .result-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 25px;
  }

  .point {
    padding: 5px 5px;
    width: 60%;
    height: 60px;;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #6384dd;
  }
  .point p{
    text-align: center;
  }
  .point a{
    display: block;
    text-align: center;
  }